* {
    font-family: sans-serif, 'poppins';
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    height: 100vh;
    overflow: hidden;
}

.page img {
    position: relative;
    right: 5px;
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 60px;
}

.page {
    text-align: center;
    font-weight: 800;
    padding: 0 0 20px 0;
}

.page button {
    cursor: pointer;
    height: 40px;
    width: 200px;
    border-radius: 30px;
}

.pass {
    font-size: 14px;
    position: relative;
    top: 20px;
    color: gray;
}

.page .ll {
    font-size: 14px;
    position: relative;
    top: 0.4px;
    color: gray;
}